.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #13bdb8, #178ab6);
}
.banner .tagline {
  font-weight: 700;
  padding: 8px 50px;
  background: linear-gradient(90.21deg, #0dcaf0 -5.91%, #0b74c4 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5em;
  width: 96%;
}

.banner .wrap {
  color: white;
  font-size: 18px;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
