.contact-container {
  background: linear-gradient(180deg, #063bab, #012164);
  display: flex;
  justify-content: space-around;
}
.contact-container img {
  width: 50%;
}
.contact-container h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-container form input,
.contact-container form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact-container form input:focus,
.contact-container form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact-container form input::placeholder,
.contact-container form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact-container form input:focus::placeholder,
.contact-container form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact-container form button {
  font-weight: 700;
  color: white;
  background: linear-gradient(90.21deg, #0dcaf0 -5.91%, #0d6efd 111.58%);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact-container form button {
  z-index: 1;
  position: relative;
}
.contact-container form button:hover {
  color: black;
}
.contact-container form button::before {
  content: "";
  background: white;
  border-radius: 20px;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact-container form button:hover::before {
  width: 100%;
}

.contact-container form button span {
  z-index: 1;
  position: relative;
}

.contact-container form .row {
  color: white;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .contact-container img {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact-container img {
    display: none;
  }
}
