.skill-container {
  background: linear-gradient(180deg, #178ab6, #0455b0);
  display: flex;
  justify-content: center;
}
.card-custom {
  color: black;
  width: 12rem;
}

@media (max-width: 576px) {
  .card-custom {
    max-width: 6rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-custom {
    max-width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-custom {
    max-width: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card-custom {
    max-width: 12rem;
  }
}

@media (min-width: 1200px) {
  .card-custom {
    max-width: 15rem;
  }
}
